* {
    text-align: center;
}

h1 {
    color: #364F6B;
}

h2 {
    color: #364F6B;
}

body {
    background-color: #3FC1C9;
}

h6 {
    color: #364F6B;
}

p {
    color: #364F6B;
}

.portfolio-thumbnail {
    text-align: left;
}